@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2:'Passion One', cursive;
    --font3:'Sriracha', cursive;
}

* {
    margin: 0;
}

html, body {
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    padding: 50px;
    font-variant: small-caps;
    font-size: 10vw;
    font-family: var(--font2);
    color: yellow;
}

header p{
    padding-bottom: 50px;
    font-size: 20px;
}

section {
    font-family: var(--font3);
    font-size: 2.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2.5em;
    padding-left: 30px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.452);
    font-size: clamp(1em, 1em + 1vw, 1.5em);
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    padding-left: 0;
    background-color: rgb(0, 0, 0);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.452);
}

#img01 {
    background-color: black;
    background-image: url('imagens/background001.jpg');
}

#img02{
    background-color: black;
    background-image: url('imagens/background002.jpg');
}

.imagem p {
    text-shadow: 1px 1px 0px black;
    display: inline-block;
    margin-left: 0;
    padding:7px 7px 7px 30px;
    border-radius:0px 15px 15px 0px;
    background-color: rgba(0, 0, 0, 0.493);
    color: yellow;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color:yellow;
    font-weight: bolder;
    font-variant: small-caps;
}

a:hover {
    text-decoration: underline;
    background-color: white;
    color: black;
    padding: 2px;
    border-radius: 7px;
}

span {
    font-variant: small-caps;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 4.5vw;
}

.img {
    color: yellow;
}

